node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.env.local
.env.hosted.local
.env.production.local.example
.env.local.example
.nitro
.tanstack
.source
.wrangler
.output
.vinxi
__unconfig*
todos.json
better-auth-schema.sql
tools/stripe-cli/
